body {
  background: 
  linear-gradient(304deg, rgb(255 101 53 / 50%) 24.9%, #aa2743ab 91%),   linear-gradient(10deg, #b1c9d8 19.9%, #2776aa8c 50%),   linear-gradient(145deg, #4f26f49e 15.9%, #88084f7a 40%),linear-gradient(180deg, #000000de 19.9%, #0e1317d4 80%);  
  background-repeat: no-repeat;
  min-height: 100%;
}
html {
  min-height: 100%;
}

